{% extends 'base.html.twig' %}

{% block title %}Ajouter un compteur{% endblock %}

{% block body %}
    <div class="container-fluid full-height-page">    
        <div class="container mt-5 mb-5">
        <div class="row mt-5 mb-5">
        <div class="col-md-3 mt-5"></div>
        <div class="col-md-6 mt-5">
            <h1 class="mt-5 mb-5">Ajoutez votre nouveau compteur</h1>
            <div class="col-md-12 mb-5"><a class="text-carusel" href="{{ path('app_studeffi') }}"></a>Retourner vers la page d'accueil</div>
            <form method="post" enctype="multipart/form-data" class="row g-3 mb-6">
                {{ form_errors(electrMeterForm) }}
                {{ form_start(electrMeterForm) }}
                <div class="col-md-6 mb-3 text-carusel">
                    {{ form_row(electrMeterForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}, 'label': false}) }}
                </div>
                <div class="col-md-6 mb-3 text-carusel">
                    {{ form_row(electrMeterForm.address, {'attr': {'class': 'form-control', 'placeholder': 'Adresse...', 'id': 'electr_meter_form_address'}, 'label': false}) }}
                </div>
                <div class="col-md-6 mb-3 text-carusel">
                    {{ form_row(electrMeterForm.postalCode, {'attr': {'class': 'form-control', 'placeholder': 'Code Postale', 'id': 'electr_meter_form_postalCode' }, 'label': false}) }}
                </div>
                <div class="col-md-6 mb-3 text-carusel">
                    {{ form_row(electrMeterForm.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville', 'id': 'electr_meter_form_city' },  'label': false}) }}
                </div>
                <div class="col-12">
                    <div class="row mb-5">
                        <div class="col-md-12 mt-4 mb-5"><button type="submit" class="btn button-green">Ajouter</button></div>
                        
                        <div class="col-md-2 mt-5 mb-5"></div>
                    </div>
                </div>
                {{ form_end(electrMeterForm) }}
            </form>
            </div>
            <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
