{% extends 'base.html.twig' %}

{% block title %}Studeffi{% endblock %}

{% block body %}
<div class="container wrapper"> 
  {% if app.user %}
    <h2 class="mt-5 mb-5">Mes compteurs</h2>
      <div class="row">
        {% for electrMeterList in electrMeterList %}
          <div class="col-md-2 mt-2 me-3 card align-items-center">
            <a class="link" href="{{ path('showoneelectrmeter', {'id' : electrMeterList.id}) }}"></a>
            <div class="col-md-12 mt-3"><a class="link" href="{{ path('showoneelectrmeter', {'id' : electrMeterList.id}) }}"><img class="img-compteur" src="images/speedometer-1081563.svg"></a></div>
            <div class="card-body mt-3 text-center">
              <h5 class="card-title"><a class="link" href="{{ path('showoneelectrmeter', {'id' : electrMeterList.id}) }}">{{ electrMeterList.name }}</a></h5>
            </div>
          </div> 
        {% endfor %}
        <div class="col-md-2 mt-2 me-3 card align-items-center">
          <div class="col-md-12 mt-3 text-center">
            <a href="{{ path('app_addElectrMeter') }}" class="align-items-center icon-add"><i class="fa-solid fa-plus"></i></a>
          </div>
          <div class="card-body mt-3 text-center">
            <h5 class="card-title"><a class="link" href="{{ path('app_addElectrMeter') }}">Nouveau compteur</a></h5>
          </div>
        </div>        
      </div>     
  {% else %}
  <div class="row mt-5 align-items-center main">
    <div class="col-md-6"><img src="{{asset('images/undraw_electricity_iu6d2.svg')}}"></div>
    <div class="col-md-6">
      <h1>Optimisez votre consommation électrique, pour vous et pour la planète</h1>
      <div class="mt-5"><a class="connexion button-green" href="{{ path('app_login') }}">Connectez-vous</a></div>
  </div> 
</div>
{% endif %}
</div>
{% endblock %}
