{% extends 'base.html.twig' %}
{% block title %}Studeffi{% endblock %}
{% block body %}
<div class="container main mt-5">
    <h1>{{ electrMeter.name }}</h1>
    <h2>Relevés</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Consommation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reading in readings %}
            <tr>
                <td>{{ reading.date|date('d/m/Y') }}</td>
                <td>{{ reading.value }}</td>
                <td>
                <button type="button" class="btn btn-primary edit-reading-btn" data-id="{{ reading.id }}" data-bs-toggle="modal" data-bs-target="#editReadingModal">
                    Modifier
                </button>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="3">Aucun relevé</td></tr>
        {% endfor %}
    </tbody>
</table>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                
            </div>
        </div>
    </div>
</div>
<h3>Ajouter un nouveau relevé</h3>

    {{ form_start(readingForm, {'attr': {'class': 'row g-3 mb-6', 'enctype': 'multipart/form-data'}})}}
        {{ form_row(readingForm.date) }}
        {{ form_row(readingForm.value) }}
        <button type="submit">Ajouter</button>
    {{ form_end(readingForm) }}

{% endblock %}